<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/my_web_app/src/http_server/static/style.css" />
    <link
      rel="icon"
      href="/my_web_app/src/http_server/static/images/favicon.ico"
      type="image/x-icon" />
    <img src="/static/images/logo.png" alt="Logo" />
    <title>Simple HTTP</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">
                <img
                  src="static/images/favicon.ico"
                  alt="Logo"
                  style="height: 32px; width: 48px" />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="templates/message">Як нам допомогти?</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <figure class="figure col-3">
          <img
            src="static/images/logo.png"
            class="figure-img img-fluid rounded"
            alt="Description"
            width="300"
            height="300" />
          <figcaption class="figure-caption text-end">"РОЗШУК FPV!"</figcaption>
        </figure>
        <div class="col-9">
          <p>
            Вітаємо, шановні пані та панове. Ми - спільнота айтішників з Дніпра,
            яка згуртувалась задля допомоги Силам оборони після повномасштабного
            вторгнення московії до України.
          </p>
          <p>
            Фонд "Жовтий скотч" подає у розшук... 25 великих 10-дюймових
            FPV-дронів для сталевих воїнів 1-ї окремої танкової Сіверської
            бригади. Ці пташки здатні далеко нести потужні вибухові подарунки
            окупантам. Тож винагорода за допомогу досить солідна: збережені
            життя українських воїнів, а також ураження ворога.
          </p>
          <p>🇺🇦 Мета збору - 575 000 грн. 🇺🇦</p>
          <p>
            Будь ласка, долучайтесь гривнею, поширенням, вподобайками та
            коментарями! Дякуємо, що ви з нами.
          </p>
          <p>Слава Україні, та героям, що її боронять!</p>
          <p>
            Ми єдині з нашими захисниками. Немає іншого фронту, аніж той, де
            нищать ворога, де сплачується найвища ціна. Ми не можемо стояти
            осторонь та перекладати відповідальність на інших.
          </p>
          <p>Бережіть себе та Україну!</p>
        </div>
      </div>
    </div>
  </body>
</html>
