{% extends "base.html" %} {% block title %}Simple HTTP{% endblock %} {% block
content %}
<div class="row justify-content-center">
  <div class="col-5 align-self-center">
    <form
      action="/message"
      method="POST"
      enctype="application/x-www-form-urlencoded"
      accept-charset="UTF-8">
      <h1 class="h3 mb-3 font-weight-normal">Долучайтесь!</h1>
      <div class="row mb-3">
        <label>Ваше ім'я</label>
        <input class="form-control" name="username" type="text" />
      </div>
      <div class="row mb-3">
        <label>Текстове повідомлення</label>
        <textarea class="form-control" name="message"></textarea>
      </div>
      <div class="d-flex justify-content-evenly">
        <button class="btn btn-primary col-4" type="submit">Надіслати</button>
        <button class="btn btn-secondary col-4" type="reset">Скинути</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
